@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@media (max-width: 768px) {
    body, html {
        font-size: 14px;
    }
}
.background {
    background-image: url('photo4edited.jpg');
    background-size: cover; /* Ensures the image covers the full container */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Fixes the background in place */
    width: 100%; /* Ensures it doesn't overflow horizontally */
    height: 100vh; /* Sets the height of the container to 100% of the viewport height */
    position: relative;
    overflow: hidden; /* Hides any overflow */
    transition: transform 0.5s ease-in-out;
}


.background.hover {
    transform: scale(1.1);
}

.overlay {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#gallery h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.photo-grid {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.photo-grid .photo-item {
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .photo-grid .photo-item {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    .photo-grid {
        max-width: 90%;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .modal-content {
        width: 90%;
    }
}

.photo {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.photo img:hover {
    transform: scale(1.1);
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
}

nav {
    text-align: center;
    margin: 20px 0;
    font-size: x-large;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #7c7c7c;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #7c7c7c;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 600px) {
    nav ul {
        justify-content: center;
        flex-wrap: nonwrap;
    }

    nav ul li {
        margin: 0 15px;
    }

    nav ul li a {
        font-size: 1.2rem;
        padding: 10px 15px;
    }
}

#about {
    padding: 20px 50px;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6;
}

main, p {
    font-size: 1.2rem;
    line-height: 1.8;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1.5rem;
}

#bookingModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3s ease;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.modal-content button {
    background-color: #000000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:nth-child(1) {
    font-family: 'Poppins', sans-serif;
}

.modal-content button:nth-child(2) {
    font-family: 'Poppins', sans-serif;
}

.modal-content button:last-child {
    font-family: 'Poppins', sans-serif;
}

.modal-content .agoda-btn {
    font-family: 'Poppins', sans-serif;
}

.modal-content button:hover {
    background-color: #000000;
}

.modal-content button:last-child {
    background-color: #808080;
}

.modal-content button:last-child:hover {
    background-color: #808080;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
    background-color: transparent;
    border: none;
}

.close-btn:hover {
    color: #000;
}

.cancel-btn {
    margin-top: auto; /* Pushes the button to the bottom */
    font-size: 12px; /* Smaller font size */
    padding: 8px 16px; /* Smaller padding */
    background-color: #7e7e7e; /* Red background color */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.cancel-btn:hover {
    background-color: #2e2e2e; /* Darker red when hovered */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.reviews {
    padding: 20px 50px;
    color: #000;
}

.reviews h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.reviews-under {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.reviews-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1100px;
}

.reviews-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
}

.review-card {
    min-width: 300px;
    flex: 0 0 auto;
    border: 3px solid #616161;
    padding: 15px;
    background-color: #fff;
    text-align: left;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: block;
    margin-bottom: 10px;
    object-fit: cover;
}

.review-card h3 {
    margin: 0;
    font-size: 1.2rem;
}

.review-date {
    font-size: 0.9rem;
    color: #000;
    display: block;
    margin-bottom: 10px;
}

.review-card p {
    max-width: 250px;
    word-wrap: break-word;
    line-height: 1.5;
    margin-bottom: 0;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    z-index: 1;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.more {
    text-align: center;
}

#footer {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}
